
nav{
    padding:25px 10%;
    height: 25px;
    display: flex;
    flex-direction: row;
    background-color: #FFC017;
}
.nav-spacing{
    flex-grow: 1;
    flex-shrink: 0;
}
.navMain{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navMain div{
    margin-right: 25px;
}