@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


/*.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}*/

/*
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/
body{
    font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

nav{
    padding:25px 10%;
    height: 25px;
    display: flex;
    flex-direction: row;
    background-color: #FFC017;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 2;
}
.nav-spacing{
    flex-grow: 1;
    flex-shrink: 0;
}
.navMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.navMain div{
    margin-right: 25px;
    font-size: 0.9rem;
    letter-spacing: 0.1px;
}
.blackBtn{
    border-radius: 100rem;
    border: 0;
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white; 
    font-weight: 500;
    
}
.navMain .blackBtn{
    font-size: 15px;
    padding: 10px 15px;
}
.hero .blackBtn{
    margin-bottom: 3.7rem;
    font-size: 1.1rem;
    padding: 10px 10%;
}


.hero{
    padding-left: 15%;
    background-color: #FFC017;
    border-bottom: 1px solid black;
    display: flex;
    justify-content:space-between;
    z-index: 1;
    padding-top: 2rem;
}
.hero h1{
    padding-top: 2.2rem;
    font-size: 7rem;
    letter-spacing: -0.4rem;
}
.hero h3{
    margin-bottom: 2.5rem;
    font-family: "Spectral", serif;
    margin-top: 2.2rem;
    font-size: 1.5rem;
}

.heroMain{
    width: 50%;
}

.hero .svgCont{
  position: relative;  
}

.svgCont svg{
    position: absolute;
    top: 0;
    transform: translate(-100%,-10%);
    z-index: 1;

}
main
{
    background-color: white;
    position: relative;
    z-index: 3;
    
    padding-top: 2rem;
}
.trending{
    padding-left: 15%;
    padding-right: 15%;
    border-bottom: 2px solid #E3E4E4;
}

.trending h2{
    font-family: "Spectral", serif;
    font-size: 1rem;
    font-weight: 700;

}

.trendingArticles{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top: 1rem;

}
.trendArticle{
    width: 30%;
    margin-bottom: 2.5rem;

}
.trendArticle img{
    width: 2rem;
    border-radius: 10px;
    margin-right: 1.2rem;
}
.greyText{
    color: grey;
}
.flexArticle{
    display: flex;
    justify-content: flex-start;
}

.trendArticle h5{
    color: #E6E7E6;
    font-family: "Spectral", serif;
    font-size: 2.5rem;
    font-weight: 900;
    margin-right: 1rem;
}
.trendArticle p{
    color: #6B7481;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.trendArticle h4{
    font-size: 0.9rem;
    font-weight: 700;
}
.trendArticle h3{
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
    font-weight: 800;
    letter-spacing: 0.5px;
}